.logo {
  width: 2em;
}
.spacer {
  flex: auto;
}
p {
  font-weight: 600;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .no-mobile {
    display: none;
  }
}
// .no-mobile {
//   display: block;
// }
