<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="logo">
          <img #curLogoImg [src]="sm.logo" />
        </div>
        <div class="no-mobile spacer"></div>
        <p class="no-mobile spacer" [innerText]="sm.title"></p>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="super-center">
      <div class="sub-font mat-subtitle-1" [innerText]="sm.period || ''"></div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
