<mat-toolbar [style]="{ height: '4em' }"
  ><img class="header-app-icon" [src]="header.appIconLink" />
  <span class="spacer"></span>
  <button
    mat-icon-button
    (click)="switchTheme()"
    aria-label="swtch theme between dark and light"
  >
    <mat-icon
      [innerText]="
        (commData.darkThemeState$ | async) ? 'dark_mode' : 'brightness_5'
      "
    ></mat-icon>
  </button>
  <!-- <ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/']">Home</a>
		</li>

		<!-- Authorized only
		<li class="nav-item" *ngIf="isAuthorized">
			<a
				class="nav-link"
				[routerLink]="['profile']"
				routerLinkActive="active-tab-look"
				>Profile</a
			>
		</li>

		<!-- Anonymous only
		<li class="nav-item" *ngIf="!isUser && !isAdmin">
			<a
				class="nav-link"
				[routerLink]="['login']"
				routerLinkActive="active-tab-look"
				>Login</a
			>
		</li>

		<!-- Admin only
		<li class="nav-item" *ngIf="isAdmin">
			<a
				class="nav-link"
				[routerLink]="['admin', 'dashboard']"
				routerLinkActive="active-tab-look"
				>Dashboard</a
			>
		</li>

		<!-- Authorized only
		<li class="nav-item" *ngIf="isUser || isAdmin">
			<a class="nav-link" (click)="logout()">Logout</a>
		</li>
	</ul>

	<span class="navbar-text"
		><i class="bi bi-bell"></i
		><sup [innerText]="notifications.length"></sup>&nbsp;<select>
			<option
				*ngFor="let notification of notifications; let ind = index"
				[value]="ind"
				[innerText]="notification.title + ' ' + notification.message"
			></option>
		</select>
		<span class="badge badge-warning" *ngIf="isUser">Authorized</span>
		<span class="badge badge-danger" *ngIf="isAdmin">Admin {{ isAdmin }}</span>
	</span> -->
</mat-toolbar>
