/* my-component.scss */

@import "../../../theme/vars.scss";

.badge {
  margin: 2px;
}
//define how the active tab looks like
.active-tab-look {
  background-color: #3e5061;
}
.spacer {
  flex: 1 1 auto;
}
.header-app-icon {
  height: 3em;
  border-radius: 0.5em;
  margin-top: 0.3em;
  margin-right: 0.3em;
}
.main-header {
  background-color: $base-bg-color;
}

.main-header-darker {
  background-color: $base-bg-darker-color;
}
