$card-width: 12em;
$card-height: 12em;

.skill-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax($card-width, 1fr));
  // grid-auto-rows: $card-height;
  grid-template-rows: repeat(auto-fit, minmax($card-height, 1fr));
}

/* Medium screens */
@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}

.above {
  position: relative;
  z-index: 1;
}
