.grided {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  max-height: 60dvh;
  column-gap: 1em;
  row-gap: 1em;
  justify-content: space-between;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
