html,
body {
  margin: 0em;
  height: 100vh;
  display: grid;
}
.page-banner {
  display: flex;
  font-size: 2em;
  font-weight: 500;
}

.std-button {
  background-color: #555; /* Green */
  border: none;
  color: #00cc00;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

img {
  max-width: 100%;
}
.super-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sub-font {
  text-align: -webkit-center;
}

@media screen and (max-width: 600px) {
  .no-mobile {
    display: none;
  }
}
