html,
body {
  margin: 0em;
  height: 100vh;
  background-color: #e5e5e5;
  display: grid;
}
.page-banner {
  display: flex;
  font-size: 2em;
  font-weight: 500;
}

.std-button {
  background-color: #555; /* Green */
  border: none;
  color: #00cc00;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

img {
  max-width: 100%;
}
