@use "@angular/material" as mat;
@import "vars.scss";

.day {
  background-color: mat.get-color-from-palette($profile-ang-primary, 500);
  color: mat.get-contrast-color-from-palette($profile-ang-primary, 500);
}

.night {
  background-color: mat.get-color-from-palette($profile-ang-dark-primary, 500);
  color: mat.get-contrast-color-from-palette($profile-ang-dark-primary, 500);
}
.day-without-bg {
  color: mat.get-contrast-color-from-palette($profile-ang-primary, 500);
}

.night-without-bg {
  color: mat.get-contrast-color-from-palette($profile-ang-dark-primary, 500);
}

html,
body {
  margin: 0em;
  height: 100vh;
  display: grid;
}
.page-banner {
  display: flex;
  font-size: 2em;
  font-weight: 500;
}

.std-button {
  background-color: #555; /* Green */
  border: none;
  color: #00cc00;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

img {
  max-width: 100%;
}
.super-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sub-font {
  text-align: -webkit-center;
}

@media screen and (max-width: 600px) {
  .no-mobile {
    display: none;
  }
}

// .split {
//   display: grid;
//   gap: 1em;
//   grid-template-columns: 1fr 2fr;

//   animation: fadeIn 5000s;
//   // grid-template-rows: 1fr auto;
// }
// .split-horiz {
//   display: flex;
//   justify-content: space-between;
// }
.half {
  flex: 0.5;
}
.one {
  flex: 1;
}
.two {
  flex: 2;
}
.three {
  flex: 3;
}
.four {
  flex: 4;
}
.five {
  flex: 5;
}
.six {
  flex: 6;
}

.zero-margin {
  margin: 0 !important;
}

.card-tall-2 {
  grid-row: span 2 / auto;
}

.card-tall-4 {
  grid-row: span 4 / auto;
}
.card-tall-7 {
  grid-row: span 7 / auto;
}

.card-wide-2 {
  grid-column: span 2 / auto;
}

.v-margin {
  margin: 1em 0px;
}
.mat-border {
  border-radius: 4px;
}

.legendry {
  padding: 0.5em 1em;
  z-index: 1;
}
.each-block {
  margin: 10em 2em 2em 2em;
}
.is-visible {
  display: block;
}

.is-hidden {
  display: none;
}
