@use "@angular/material" as mat;
@import "./vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

$profile-app: mat.define-light-theme(
  (
    color: (
      primary: $profile-ang-primary,
      accent: $profile-ang-accent,
      warn: $profile-ang-warn,
    ),
  )
);

$profile-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $profile-ang-dark-primary,
      accent: $profile-ang-dark-accent,
      warn: $profile-ang-dark-warn,
    ),
  )
);

@include mat.all-component-themes($profile-app);
.darkMode {
  @include mat.all-component-colors($profile-dark-theme);
}
$my-typography: mat.define-typography-config(
  $headline:
    mat.define-typography-level(
      $font-family: '"Josefin Sans", sans-serif;',
      $font-size: 3rem,
    ),
  $title:
    mat.define-typography-level(
      $font-family: '"Josefin Sans", sans-serif;',
      $font-size: 3rem,
    ),
);
@include mat.all-component-typographies($my-typography);
// @include mat.button-theme($profile-app);
// @include mat.toolbar-theme($profile-app);
// @include mat.table-theme($profile-app);
// @include mat.slide-toggle-theme($profile-app);
// @include mat.datepicker-theme($profile-app);
