.main {
  flex-direction: column;
  font-size: 1.5em;
}
p {
  max-width: 30em;
  text-align: center;
  line-height: 1.5em;
}
.block {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.mode-block {
  margin-top: 2em;
}
.material-icons {
  display: inline-flex;
  vertical-align: middle;
}
