.move-area {
  /*normally use body*/
  // width: 70vw; //if changing this please chnage bitleft accordingly
  // height: 70vh;
}
.container {
  width: 100%;
}
.gopherHead {
  position: absolute;
  height: 6.1em;
}
.bitLeft {
  margin-left: 1.5em;
  margin-top: 0.9em;
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 1.6em;
  width: 1.6em;
  background: #fffcfb;
}
.eye:after {
  /*pupil*/
  position: absolute;
  bottom: 0.5em;
  right: 0.7em;
  width: 0.7em;
  height: 0.7em;
  background: #000;
  border-radius: 50%;
  content: " ";
}
