<div
  class="parent"
  [ngClass]="{
    darkMode: (comm.darkThemeState$ | async),
    darker: (comm.darkThemeState$ | async)
  }"
>
  <header class="my-header section">
    <app-header [header]="comm.header$ | async"></app-header>
  </header>
  <div class="left-side section"></div>
  <main class="section"><router-outlet></router-outlet></main>
  <div class="right-side section"></div>
  <footer class="section">
    <app-footer
      *ngIf="comm.header$ | async as header"
      [header]="header"
      [footer]="comm.footer$ | async"
      [darkMode]="(comm.darkThemeState$ | async) || false"
    ></app-footer>
  </footer>
</div>
