.bio-flex {
  display: flex;
  column-gap: 1em;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 1em;
}
.profile-img {
  border-radius: 30%;
  max-height: 25em;
}

.big-font {
  font-size: 2em;
}

.bigger-font {
  font-size: 1.2em;
}

.para {
  line-height: 2em;
  text-align: justify;
  min-width: 20em;
  max-width: 60em;
}

.para-body {
  margin-top: 1em;
}

.para-title {
  line-height: 1em;
  align-self: center;
}

.medium-font {
  font-size: 1.5em;
}
.skills {
  text-align: left;
}
