<!-- <iframe
  src="https://drive.google.com/file/d/1qwge4Iy9CJB0keBXq8mN9Bw0ExiPjHK4/preview"
  allow="autoplay"
></iframe> -->
<h2>“iOS app for Carpooling":</h2>
Carpool App with Realtime car status, trip booking, and chatrooms with minimal
server hits per session.
<h2>“Chain Referral System”:</h2>
Self-balancing referral points distribution system implemented in Firestore and
Cloud Functions.
<h2>“Multi-Client Multi-Server Archt.”:</h2>
Small-scale application based on a split architecture with fault tolerance
server design with a proxy server.
<h2>“Custom footwear”:</h2>
An ecommerce site that enabled users to design their own footwear, features like
material compatibility etc.
<h2>“Template for Angular webapp”</h2>
This project act as a basic framework for a web app with authentication, routing
and connection with firebase
