<div class="each-block">
  <div class="home-split-horiz">
    <div
      class="appNameDiv"
      [ngClass]="{
        'day-without-bg': !darkMode,
        'night-without-bg': darkMode
      }"
    >
      <div class="appName" [innerText]="header.appName"></div>
      <span class="appDesc">
        Experienced&nbsp;
        <b
          *ngFor="let profile of header.appDesc; let i = index"
          class="animate pop"
          [ngClass]="{
            'is-hidden': profile != header.appDesc[shownSkill],
            'is-visible': profile == header.appDesc[shownSkill]
          }"
          [innerText]="profile"
        ></b>
      </span>
    </div>
    <div class="right-intro">
      <a
        mat-button
        href="https://github.com/swap1210/swapnil-profile"
        target="_blank"
        class="mat-display-2 source-code-anchor"
        matTooltip="Source code of this site!"
        >&lt;/&gt;</a
      >
    </div>
  </div>
  <app-find-me
    [header]="header"
    [darkMode]="darkMode"
    [lr_direction]="false"
  ></app-find-me>
</div>
