<div class="first-block each-block">
  <div class="home-split-horiz">
    <div
      class="appNameDiv"
      [ngClass]="{
        'day-without-bg': !darkMode,
        'night-without-bg': darkMode
      }"
    >
      <h1 class="appName" [innerText]="header.appName"></h1>
      <span class="appDesc fancy-font">
        Experienced&nbsp;
        <b
          *ngFor="let profile of header.appDesc; let i = index"
          class="animate pop"
          [ngClass]="{
            'is-hidden': profile != header.appDesc[shownSkill],
            'is-visible': profile == header.appDesc[shownSkill]
          }"
          [innerText]="profile"
        ></b>
      </span>
      <app-find-me
        [header]="header"
        [darkMode]="darkMode"
        [lr_direction]="false"
      ></app-find-me>
    </div>
    <div class="right-intro">
      <a
        mat-button
        href="https://github.com/swap1210/swapnil-profile"
        target="_blank"
        class="mat-display-2 source-code-anchor"
        matTooltip="Source code of this site!"
        >&lt;/&gt;</a
      >
      <app-skill-grid [skills]="skills"></app-skill-grid>
    </div>
  </div>
</div>
