@use "@angular/material" as mat;
@import "../../../../theme/vars.scss";

.source-code-anchor {
  height: fit-content;
}
.transparent {
  opacity: 0;
}

.home-split-horiz {
  display: flex;
  justify-content: space-between;
}

.appNameDiv {
  display: flex;
  row-gap: 1em;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1em;
}
.appName {
  font-weight: 900;
  font-size: 9vw;
  // width: 5em;
  line-height: initial;
  text-align: left;
}
.appDesc {
  font-size: 2em;
  display: flex;
  font-weight: 800;
  line-height: 1.5em;
  flex-wrap: wrap;
  b {
  }
}

.animate.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 0.5s;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.right-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
