h1 .blast {
  opacity: 0;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

h1 {
  color: #fff;
  margin: 0;
  font-family: font-file-82132;
  font-weight: 400;
  font-size: 10.3rem;
  line-height: 8.7rem;
  position: relative;
}
