@use "@angular/material" as mat;
@import "../../../../theme/vars.scss";

.popped-link {
  display: flex;
}

.hor {
  flex-direction: row;
  column-gap: 2rem;
}

.ver {
  flex-direction: column;
  row-gap: 2rem;
}

.linkLogo {
  fill: mat.get-contrast-color-from-palette($profile-ang-primary, 500);
}
.linkDarkLogo {
  fill: mat.get-contrast-color-from-palette($profile-ang-dark-primary, 500);
}
