.take-fullscreen {
  width: 100%;
  min-height: 100vh;
  position: relative;
  float: left;
  clear: both;
  overflow: hidden;
  //just for scroll debugging
  box-sizing: border-box;
  border: 2px solid red;
}
